
@{
    ViewData["Title"] = "Listar";
}

<h1>Listar usuario e senha</h1>
<div class="text-left">
    <form method="post" asp-action="Listar">
        <label>Id:</label>
        <input type="number" name="id"/>
        <button action="submit">Procurar</button>
    </form>
</div>

<p>@ViewData["Message"]</p>
<br />
<p>Usuario : @ViewData["UsuarioEncontrado"]</p>
<p>Senha : @ViewData["SenhaEncontrada"]</p>