
@{
    ViewData["Title"] = "teste_post";
}
<h1>Qual é o seu nome?</h1>

<form method="post">
    <input type="text" name="nome" placeholder="Digite seu nome aqui" />
    <button tupe="submit">Enviar</button>
</form>


