@{
    ViewData["Title"] = "Home Page";
}
<form method="post">

    <input type="text" name="nome" placeholder="Digite o ano do seu carro aqui..." />
    <input type="text" name="nome" placeholder="Digite o modelo do seu carro aqui..." />
    <input type="text" name="nome" placeholder="Preco do seu carro:" />

    <button tupe="submit">Enviar</button>

</form>

