@using mvc_aula_001.Models;

@model CPet;

@{
    ViewData["Title"] = "Cad_Pet";
}

<h1>Cad_Pet</h1>
<form method="post">
    <input type="text" name="NomePet" />
    <input type="text" name="Especie" />
    <input type="text" name="NomeDono" />
    <input type="number" name="IdadePet" />

    <button type="submit">enviar</button>
</form>

<h1>Registro dos Pets :</h1>

<p>Nome Pet : @Model.NomePet</p>
<p>Especie: @Model.Especie</p>
<p>Nome do dono: @Model.NomeDono</p>
<p>Idade do pet : @Model.IdadePet</p>
