@{
    ViewData["Title"] = "Home Page";
}
<h1>Cadastro de funcionarios: </h1>
<form method="post">

    <h1>Cadastro dos funcionarios</h1>
    <input type="text" name="nome" />
    <input type="text" name="cargo" />
    <input type="number" name="salario" />
    <input type="number" name="codigo" />

    <button type="submit">Enviar</button>

</form>
