@{
    ViewData["Title"] = "Home Page";
}
<h1>Lista de contatos: </h1>
<form>
    <input type="text" name="nome contato" />
    <input type="text" name="sobrenome" />
    <input type="number" name=" telefone" />
    <input type="number" name="idade" />

    <button type="submit">Enviar</button>

</form>